.comment {
  .score {
    margin-left: .4167em; /* 5/12 */
    margin-right: .4167em; /* 5/12 */
  }

  .child {
    border-left: 2px dotted $theme-color-comment-child-border;
    margin-left: .625em; /* 10/16 */
    margin-top: .9375em; /* 15/16 */
    width: 100%;

    &:empty {
      display: none;
    }
  }

  .deepthread,
  .morecomments {
    font-size: inherit;

    a {
      font-size: inherit;
    }
  }

  &.new-comment {
    background-color: $theme-color-comment-new-background;

    .usertext-body {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  .child & {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;

    & ~ .comment {
      margin-top: .9375em; /* 15/16 */
    }
  }
}
