.link.link {
  .rank {
    display: none;
  }

  .thumbnail {
    display: none;
  }

  .linkflairlabel {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $theme-color-linklisting-flair-text;
    display: block;
    font-size: .75em; /* 12/16 */
    font-weight: 700;
    margin: 0;
    margin-bottom: .25em; /* 3/12 */
    max-width: none;
    overflow: visible;
    padding: 0;
    text-overflow: inherit;
  }

  p.title {
    font-size: inherit;
    margin: 0;
    margin-bottom: .1875em; /* 3/16 */
  }

  a.title {
    color: $theme-color-linklisting-title-text;
    font-size: inherit;
    margin: 0;

    &:visited {
      color: $theme-color-linklisting-title-text-visited;
    }
  }

  .domain {
    color: $theme-color-linklisting-meta-text;
    display: block;
    font-size: 0;

    a {
      color: inherit;
      font-size: 12px;
      margin-top: .25em; /* 3/12 */

      &::before {
        color: $theme-color-linklisting-meta-text;
        content: 'from';
        display: inline-block;
        margin-right: .3333em; /* 4/12 */
      }

      &:hover {
        color: $theme-color-linklisting-meta-link-hover;
      }
    }
  }

  .expando {
    margin-top: .625em; /* 10/16 */
  }

  .expando-button {
    background-color: $theme-color-linklisting-expando-background;
    background-image: none;
    border-radius: 3px;
    color: $theme-color-linklisting-expando-text;
    font-weight: 700;
    height: 2.0625em; /* 33/16 */
    line-height: 2.0625em; /* 33/16 */
    margin: 0;
    margin-right: .625em; /* 10/16 */
    text-align: center;
    width: 2.0625em; /* 33/16 */

    &:hover {
      background-color: $theme-color-linklisting-expando-background-hover;
      background-image: none;
    }

    &.collapsed {
      &::before {
        content: '+';
      }
    }

    &.expanded {
      &::before {
        content: '-';
      }
    }
  }

  .tagline {
    margin-bottom: .25em; /* 3/12 */
  }

  .flair {
    display: none;

    &[class*="flair-"] {
      border: 0;
      border-radius: 0;
      display: inline-block;
      font-size: 8px;
      height: 2.5em; /* 30/12 */
      margin-bottom: -.75em; /* -6/8 */
      margin-left: 0;
      margin-right: .625em; /* 5/8 */
      margin-top: -.75em; /* -6/8 */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 2.5em; /* 30/12 */
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  &:first-child {
    border-top: 0;
  }

  &.last-clicked {
    border: 0;
  }

  &.self {
    .domain {
      display: none;
    }
  }

  &.linkflair {
    .flat-list {
      .flairselectbtn {
        display: none;

        .moderator & {
          display: inline;
          color: inherit;
          font-weight: inherit;

          &::before {
            content: 'change/remove ';
          }

          &::after {
            content: normal;
          }

          &:hover {
            color: $theme-color-primary;
          }
        }
      }
    }
  }

  &.stickied {
    a.title {
      color: $theme-color-linklisting-title-text;

      &:visited {
        color: $theme-color-linklisting-title-text;
      }
    }

    .expando-button {
      display: none;
    }

    .flat-list {
      .flairselectbtn {
        color: inherit;
        font-weight: 400;

        &:hover {
          color: $theme-color-primary;
        }
      }
    }

    .comments-page & {
      background-color: transparent;
    }
  }
}
