.linklisting {
  & > .link {
    .rank {
      display: none;
    }

    .thumbnail {
      display: none;
    }

    .linkflairlabel {
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $theme-color-linklisting-flair-text;
      display: block;
      font-size: .6875em; /* 11/16 */
      font-weight: 700;
      margin: 0;
      margin-bottom: .1818em; /* 2/11 */
      max-width: none;
      overflow: visible;
      padding: 0;
      text-overflow: inherit;
    }

    a.title {
      color: $theme-color-linklisting-title-text;
      font-size: inherit;
      margin: 0;

      &:visited {
        color: $theme-color-linklisting-title-text-visited;
      }
    }

    .expando-button {
      background-color: $theme-color-linklisting-expando-background;
      background-image: none;
      border-radius: 2px;
      color: $theme-color-linklisting-expando-text;
      font-weight: 700;
      height: 1.875em; /* 30/16 */
      line-height: 1.875em; /* 30/16 */
      text-align: center;
      width: 1.875em; /* 30/16 */

      &:hover {
        background-color: $theme-color-linklisting-expando-background-hover;
        background-image: none;
      }

      &.collapsed {
        &::before {
          content: '+';
        }
      }

      &.expanded {
        &::before {
          content: '-';
        }
      }
    }

    .flair {
      display: none;
    }

    &:first-child {
      border-top: 0;
    }

    &.last-clicked {
      border: 0;
    }

    &.self {
      .domain {
        display: none;
      }
    }

    &.linkflair {
      .flat-list {
        .flairselectbtn {
          display: none;

          .moderator & {
            display: inline;
            color: inherit;
            font-weight: inherit;

            &::before {
              content: 'change/remove ';
            }

            &::after {
              content: normal;
            }

            &:hover {
              color: $theme-color-primary;
            }
          }
        }
      }
    }

    &.thing.stickied {
      background-color: $theme-color-linklisting-sticky-background;

      .title {
        color: $theme-color-linklisting-title-text;
      }

      .expando-button {
        display: none;
      }

      .flat-list {
        .flairselectbtn {
          color: inherit;
          font-weight: 400;

          &:hover {
            color: $theme-color-primary;
          }
        }
      }
    }
  }
}
