.md-container {
  font-size: inherit;
  margin: 0;
  max-width: 50em; /* 800/16 */
  padding: 0;
  width: 100% !important;

  .bottom-area {
    font-size: .75em; /* 12/16 */
    margin-bottom: .625em; /* 7.5/12 */
  }

  button {
    margin: 0;

    & + button {
      margin-left: .8333em; /* 10/12 */
    }
  }

  .help-toggle,
  a.reddiquette {
    font-size: inherit;
    margin-left: .8333em; /* 10/12 */
    margin-top: 0;
  }

  .markhelp {
    border-top: 2px dotted $theme-color-commentarea-border;
    font-size: .875em; /* 14/16 */
    margin: 0;
    margin-top: .5357em; /* 7.5/14 */
    padding: 0;
    padding-top: .5357em; /* 7.5/14 */

    & > table {
      margin: .625em 0 !important; /* 7.5/12 */
      max-width: none;
      width: 100%;
    }
  }
}

.md {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: .875em; /* 14/16 */
  margin: 0;
  margin-bottom: .5357em !important; /* 7.5/14 */
  margin-top: .5357em !important; /* 7.5/14 */
  max-width: 57.1429em; /* 800/14 */
  padding: 0;

  h4,
  h5,
  h6,
  p,
  hr,
  ol,
  ul,
  pre,
  blockquote {
    margin-bottom: 1.0714em; /* 15/14 */
    margin-top: 1.0714em; /* 15/14 */
  }

  h1 {
    font-size: 1.4286em; /* 20/14 */
    margin-bottom: .75em; /* 15/20 */
    margin-top: .75em; /* 15/20 */
  }

  h2 {
    font-size: 1.2857em; /* 18/14 */
    margin-bottom: .8333em; /* 15/18 */
    margin-top: .8333em; /* 15/18 */
  }

  h3 {
    font-size: 1.1429em; /* 16/14 */
    margin-bottom: .9375em; /* 15/16 */
    margin-top: .9375em; /* 15/16 */
  }

  hr {
    background-color: $theme-color-markdown-hr-background;
  }

  ol,
  ul {
    padding-left: 1.2857em; /* 18/14 */
  }

  li {
    margin-bottom: .5357em; /* 7.5/14 */
    margin-top: .5357em; /* 7.5/14 */

    ol,
    ul {
      margin-bottom: .5357em; /* 7.5/14 */
      margin-top: .5357em; /* 7.5/14 */
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  pre {
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    padding: .3571em .7143em; /* 5/14, 10/14 */
  }

  table {
    font-size: .8571em; /* 12/14 */
    margin: 1.25em auto; /* 15/12 */
  }

  th,
  td {
    border: 1px solid $theme-color-markdown-table-border;
    padding: .4167em .8333em; /* 5/12, 10/12 */

    &:empty {
      border-left-width: 0;
      border-right-width: 0;
    }

    &:first-child {
      border-left-width: 1px;
    }

    &:last-child {
      border-right-width: 1px;
    }
  }

  th {
    border-top: 5px solid $theme-color-primary;
  }

  tr {
    &:nth-child(odd) {
      td {
        background-color: $theme-color-markdown-table-row-background;
      }
    }

    &:hover {
      th,
      td {
        background-color: $theme-color-markdown-table-row-background-hover;
      }
    }
  }

  blockquote {
    background-color: $color-gray-light;
    border-left: 5px solid $theme-color-markdown-blockquote-border;
    color: $theme-color-markdown-blockquote-text;
    font-style: italic;
    margin-left: 0;
    padding: 0;
    padding-left: 1.0714em; /* 15/14 */
    padding-bottom: 1.0714em; /* 15/14 */
    padding-top: 1.0714em; /* 15/14 */

    em {
      font-style: normal;
    }
  }

  a {
    color: $theme-color-primary;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  textarea {
    background-color: $theme-color-markdown-textarea-background;
    border: 1px solid $theme-color-markdown-textarea-border;
    border-radius: 3px;
    display: block;
    font-size: inherit;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    height: 6.9643em; /* 97.5/14 */
    line-height: inherit;
    padding: .3571em; /* 5/14 */
    resize: vertical;
    width: 100% !important;

    &:focus {
      background-color: $theme-color-markdown-textarea-background-hover;
    }
  }
}
