$_author-alphanums: a b c d e f g h i j k l m n o p q r s t u v w x y z 0 1 2 3 4 5 6 7 8 9;
$_author-alphanum-colors: (
  a: $theme-color-author-a,
  b: $theme-color-author-b,
  c: $theme-color-author-c,
  d: $theme-color-author-d,
  e: $theme-color-author-e,
  f: $theme-color-author-f,
  g: $theme-color-author-g,
  h: $theme-color-author-h,
  i: $theme-color-author-i,
  j: $theme-color-author-j,
  k: $theme-color-author-k,
  l: $theme-color-author-l,
  m: $theme-color-author-m,
  n: $theme-color-author-n,
  o: $theme-color-author-o,
  p: $theme-color-author-p,
  q: $theme-color-author-q,
  r: $theme-color-author-r,
  s: $theme-color-author-s,
  t: $theme-color-author-t,
  u: $theme-color-author-u,
  v: $theme-color-author-v,
  w: $theme-color-author-w,
  x: $theme-color-author-x,
  y: $theme-color-author-y,
  z: $theme-color-author-z,
  0: $theme-color-author-0,
  1: $theme-color-author-1,
  2: $theme-color-author-2,
  3: $theme-color-author-3,
  4: $theme-color-author-4,
  5: $theme-color-author-5,
  6: $theme-color-author-6,
  7: $theme-color-author-7,
  8: $theme-color-author-8,
  9: $theme-color-author-9
);

/* needs more specificity */
.thing.thing {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: .9375em; /* 15/16 */

  & > .entry {
    flex: 1;
    margin: 0;
    overflow: visible;
  }

  .midcol {
    margin-left: 0;
    margin-right: .9375em; /* 15/16 */
  }

  .approval-checkmark {
    display: none;
  }

  .tagline,
  .flat-list {
    color: $theme-color-linklisting-meta-text;
    font-size: .75em; /* 12/16 */
    padding: 0;

    &:empty {
      display: none;
    }
  }

  .tagline {
    margin-bottom: .1667em; /* 2/12 */

    & > * {
      vertical-align: baseline;
    }

    a {
      color: inherit;
    }
  }

  .stickied-tagline {
    color: inherit;
  }

  /* needs extra specificity */
  .author.author {
    border-radius: .25em; /* 3/12 */
    color: $theme-color-author-text;
    display: inline-block;
    font-weight: 400;
    line-height: 1.3333; /* 16/12 */
    margin: 0;
    padding-left: .4167em; /* 5/12 */
    padding-right: .4167em; /* 5/12 */
    position: relative;
    z-index: 2;

    @each $_author-alphanum in $_author-alphanums {
      &[class*="id-t2_#{$_author-alphanum}"] {
        background-color: map-get($_author-alphanum-colors, $_author-alphanum);

        & + .userattrs {
          a {
            background-color: lighten(map-get($_author-alphanum-colors, $_author-alphanum), 12%);
          }
        }
      }
    }

    #{$moderator-ids-selector} {
      background-color: $theme-color-primary;

      & + .userattrs {
        a {
          background-color: lighten($theme-color-primary, 11%);
        }
      }
    }
  }

  .userattrs {
    color: transparent;
    font-size: 0;

    a {
      border-radius: 0 .25em .25em 0; /* 3/12, 3/12 */
      color: $theme-color-author-attribute-text;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.3333; /* 16/12 */
      margin-left: -.1667em; /* -2/12 */
      padding-left: .5em; /* 6/12 */
      padding-right: .4167em; /* 5/12 */
      position: relative;

      & + a {
        padding-left: .1667em; /* 2/12 */
      }

      &.moderator {
        z-index: 0;
      }

      &.submitter {
        z-index: 1;
      }
    }
  }

  .usertext {
    font-size: inherit;
    padding: 0;
  }

  .usertext-body {
    background-color: transparent;
    font-size: inherit;
    padding: 0;

    .md {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      margin: 0;
      margin-bottom: .5357em; /* 7.5/14 */
      margin-top: .5357em; /* 7.5/14 */
      max-width: 57.1429em; /* 800/14 */
      padding: 0;
    }
  }

  .flat-list {
    a {
      color: inherit;
      font-weight: 400;
      margin: 0;
      padding: 0;

      &:hover {
        color: $theme-color-linklisting-meta-link-hover;
      }
    }

    li {
      line-height: inherit;
      padding: 0;

      & + li {
        margin-left: .8333em; /* 10/12 */
      }
    }

    .flairselectbtn {
      color: $theme-color-primary;
      font-weight: 700;

      &::before {
        content: 'add ';
      }
    }
  }

  .stamp {
    border: 0;
    font-size: inherit;
    line-height: inherit;
  }

  .nsfw-stamp {
    background-color: $theme-color-thing-stamp-nsfw-background;
    color: $theme-color-thing-stamp-text;
  }

  .spoiler-stamp {
    background-color: $theme-color-thing-stamp-spoiler-background;
    color: $theme-color-thing-stamp-text;
  }

  &.stickied {
    background-color: $theme-color-thing-sticky-background;
  }

  &.collapsed {
    .author.author {
      background-color: $theme-color-comment-collapsed;

      & + .userattrs {
        a:first-child {
          background-color: lighten($theme-color-comment-collapsed, 11%);

          & + a {
            background-color: lighten($theme-color-comment-collapsed, 17.5%);
          }
        }
      }
    }
  }
}
