$color-aqua:          #00788a !default;
$color-black:         #000 !default;
$color-brown:         #764200 !default;
$color-cream:         #f6e7a1 !default;
$color-deep-aqua:     #004963 !default;
$color-deep-orange:   #e36f1e !default;
$color-goldenrod:     #e5b53a !default;
$color-gray:          #ccc !default;
$color-gray-dark:     darken($color-gray, 20%);
$color-gray-light:    lighten($color-gray, 15%);
$color-green:         #00703c !default;
$color-maroon:        #8a2529 !default;
$color-moss:          #b1b579 !default;
$color-mustard:       #c49f06 !default;
$color-olive:         #4f6e18 !default;
$color-orange:        #f8981d !default;
$color-purple:        #56004e !default;
$color-red:           #ad0000 !default;
$color-slate:         #5b6f7b !default;
$color-slate-light:   #c2d1d3 !default;
$color-tan:           #ceaa7a !default;
$color-yellow:        #fdb913 !default;
$color-white:         #fff !default;

$theme-color-primary: $color-red !default;
$theme-color-secondary: $color-black !default;
$theme-color-accent: $color-yellow !default;
$theme-color-html-background: $color-red !default;
$theme-color-html-gradient: $color-black !default;
$theme-color-body-background: $color-white !default;
$theme-color-body-box-shadow: rgba($color-black, .3) !default;
$theme-color-header-background: $color-red !default;
$theme-color-header-banner-text: rgba($color-white, .75) !default;
$theme-color-header-logo-background: $color-white !default;
$theme-color-header-logo-background-alt: rgba($color-white, .25) !default;
$theme-color-header-subreddits-background: rgba($color-black, .2) !default;
$theme-color-header-subreddits-text: rgba($color-white, .45) !default;
$theme-color-header-subreddits-text-hover: rgba($color-white, 1) !default;
$theme-color-header-subreddits-dropdown-border: rgba($theme-color-primary, .75) !default;
$theme-color-header-subreddits-dropdown-box-shadow: rgba($color-black, .3) !default;
$theme-color-header-subreddits-dropdown-text: $theme-color-secondary !default;
$theme-color-header-subreddits-dropdown-background-hover: $theme-color-primary !default;
$theme-color-header-subreddits-dropdown-text-hover: $color-white !default;
$theme-color-header-tabs-background: initial !default;
$theme-color-header-tabs-box-shadow: rgba($color-black, .3) !default;
$theme-color-header-tabs-text: rgba($color-white, .65) !default;
$theme-color-header-tabs-text-hover: rgba($color-white, 1) !default;
$theme-color-header-tabs-selected-background: $theme-color-accent !default;
$theme-color-header-tabs-selected-text: rgba($color-white, 1) !default;
$theme-color-sidebar-shadow: rgba($color-black, .2) !default;
$theme-color-sidebar-subscribers-text: $theme-color-primary !default;
$theme-color-sidebar-subscribe-background: $theme-color-primary !default;
$theme-color-sidebar-subscribe-background-hover: $theme-color-accent !default;
$theme-color-sidebar-subscribe-text: $color-white !default;
$theme-color-sidebar-submit-background: $theme-color-primary !default;
$theme-color-sidebar-submit-background-hover: $theme-color-accent !default;
$theme-color-sidebar-submit-text: $color-white !default;
$theme-color-sidebar-editflair-text: $theme-color-primary !default;
$theme-color-sidebar-helplink-text: $theme-color-primary !default;
$theme-color-sidebar-countdown-background: $color-black !default;
$theme-color-sidebar-countdown-text: $color-white !default;
$theme-color-sidebar-schedule-background: $color-gray-light !default;
$theme-color-sidebar-schedule-box-shadow: rgba($color-black, .3) !default;
$theme-color-sidebar-schedule-text: $color-black !default;
$theme-color-sidebar-schedule-text-hover: lighten($color-black, 60%) !default;
$theme-color-sidebar-schedule-event-background: $color-white !default;
$theme-color-sidebar-schedule-event-background-inactive: $color-gray-light !default;
$theme-color-sidebar-schedule-event-border: $color-gray !default;
$theme-color-sidebar-schedule-event-sport: $theme-color-primary !default;
$theme-color-sidebar-schedule-event-win-indicator: $theme-color-primary !default;
$theme-color-sidebar-schedule-event-text-supplementary: $color-gray-dark !default;
$theme-color-sidebar-schedule-event-icon-tooltip-background: $color-black !default;
$theme-color-sidebar-schedule-event-icon-tooltip-text: $color-white !default;
$theme-color-content-background: $color-white !default;
$theme-color-content-box-shadow: rgba($color-black, .3);
$theme-color-voting-likes: $color-red !default;
$theme-color-voting-unvoted: $color-gray !default;
$theme-color-voting-dislikes: $color-aqua !default;
$theme-color-author-text: $theme-color-primary !default;
$theme-color-author-submitter-text: $theme-color-primary !default;
$theme-color-author-moderator-text: $theme-color-primary !default;
$theme-color-thing-stamp-text: $color-white !default;
$theme-color-thing-stamp-spoiler-background: $color-black !default;
$theme-color-thing-stamp-nsfw-background: $color-red !default;
$theme-color-thing-sticky-background: lighten($color-gray-light, 2%) !default;
$theme-color-thing-sticky-border: $theme-color-primary !default;
$theme-color-linklisting-link-border: $color-gray !default;
$theme-color-linklisting-flair-text: $theme-color-secondary !default;
$theme-color-linklisting-title-text: $theme-color-primary !default;
$theme-color-linklisting-title-text-visited: $theme-color-secondary !default;
$theme-color-linklisting-title-text-stickied: $theme-color-primary !default;
$theme-color-linklisting-expando-background: $color-gray !default;
$theme-color-linklisting-expando-background-hover: $theme-color-accent !default;
$theme-color-linklisting-expando-text: $color-white !default;
$theme-color-linklisting-meta-text: $color-gray-dark !default;
$theme-color-linklisting-meta-link-hover: $theme-color-primary !default;
$theme-color-nextprev-link-background: $color-gray-light !default;
$theme-color-nextprev-link-background-hover: lighten($color-gray-light, 10%) !default;
$theme-color-nextprev-link-border: $color-gray !default;
$theme-color-nextprev-link-text: $theme-color-primary !default;
$theme-color-commentarea-border: $color-gray !default;
$theme-color-commentarea-menuarea-text: $color-gray-dark !default;
$theme-color-commentarea-menuarea-text-hover: $theme-color-primary !default;
$theme-color-comment-collapsed: $color-gray-dark !default;
$theme-color-comment-new-background: lighten($color-yellow, 40%) !default;
$theme-color-comment-child-border: $color-gray !default;
$theme-color-comment-usertext-edit-bottomarea-link: $color-gray-dark !default;
$theme-color-comment-usertext-edit-bottomarea-link-hover: $theme-color-primary !default;
$theme-color-comment-usertext-edit-markhelp-link: $theme-color-primary !default;
$theme-color-markdown-hr-background: $color-gray !default;
$theme-color-markdown-table-border: $color-gray !default;
$theme-color-markdown-table-row-background: $color-gray-light !default;
$theme-color-markdown-table-row-background-hover: lighten($color-yellow, 40%) !default;
$theme-color-markdown-blockquote-border: $theme-color-primary !default;
$theme-color-markdown-blockquote-text: $color-black !default;
$theme-color-markdown-textarea-background: $color-gray-light !default;
$theme-color-markdown-textarea-background-hover: $color-white !default;
$theme-color-markdown-textarea-border: $color-gray !default;
$theme-color-infobar-background: lighten($color-yellow, 42.5%) !default;
$theme-color-infobar-border: $color-yellow !default;
$theme-color-infobar-text: $color-black !default;
$theme-color-infobar-mellow-background: lighten($color-aqua, 70%) !default;
$theme-color-infobar-mellow-border: lighten($color-aqua, 10%) !default;
$theme-color-footer-background: $color-black !default;
$theme-color-footer-border: $theme-color-primary !default;
$theme-color-footer-text: $color-gray-dark !default;
$theme-color-modal-background: $color-white !default;
$theme-color-modal-text: $color-black !default;
$theme-color-modal-separator: $color-gray-light !default;
$theme-color-modal-item-selected: $color-gray-light !default;
$theme-color-modal-button-background: $theme-color-primary !default;
$theme-color-modal-button-text: $color-white !default;

$theme-logo-url: url(%%logo%%);
$theme-html-left-custom-url: url(%%html-left-custom%%);
$theme-html-right-custom-url: url(%%html-right-custom%%);
$theme-header-custom-url: url(%%header-custom%%);
$theme-sidebar-custom-url: url(%%sidebar-custom%%);
$theme-sprite-main-url: url(%%sprite-main%%);
$theme-sprite-icons-url: url(%%sprite-icons%%);
$theme-comment-rules: url(%%comment-rules%%);
$theme-sprites-size: 42px 42px;
$theme-sprites: (
  downvote-unselected: -22px 0,
  downvote-selected: -22px -22px,
  upvote-unselected: 0 0,
  upvote-selected: 0 -22px
);

$theme-header-height: 12.5em; /* 200/16 */

@import 'common/utils/functions';
@import 'common/utils/mixins.scss';
@import 'common/utils/variables';
@import 'common/instructions';
@import 'common/vendor/normalize';
@import 'common/general';
@import 'common/components/markdown';
@import 'common/components/header';
@import 'common/components/sidebar';
@import 'common/components/voting';
@import 'common/components/thing';
@import 'common/components/ads';
@import 'common/components/links';
@import 'common/components/comments';
@import 'common/components/infobar';
@import 'common/components/icons';
@import 'common/components/flair-selector';
@import 'common/components/footer';
@import 'common/components/submit-page';
@import 'common/components/search-page';
@import 'common/components/flair-settings';
@import 'common/components/wiki';
