*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $theme-color-background;
  font-size: 1em;
  line-height: 1.25;
}

.content[role="main"] {
  margin: 0;
  width: calc(100% - 300px);

  & > .spacer {
    margin-bottom: 0;
  }
}
