.side {
  margin-top: 30px;

  /**
   * Sidebar Image
   *
   * The sidebar image should be 300px wide.
   */
  &:before,
  &::before {
    background-image: url(%%Jackson%%);
    content: '';
    display: block;
    height: 300px;
    margin-top: 10px;
    width: 300px;
  }
}

#search {
  margin-top: 10px;
}

.create {
  display: none;
}
